
# Overload of Heroku buildpack:
# https://github.com/gjaldon/heroku-buildpack-phoenix-static.git
# NOTE: This file must be used in conjunction with .slugignore.

# We can set the path to phoenix app. E.g. apps/phoenix_app when in umbrella.
# phoenix_relative_path=.

# Heroku sees but one and only one project, so:
# With .slugignore properly excluding other web app(s) we still need to
# define either _phoenix_relative_path or assets_path to find our assets.
# We prefer the latter so leave these commented.
# phoenix_relative_path=apps/cbt
# phoenix_relative_path=apps/cbt_admin
# phoenix_relative_path=apps/cbt_api

# We can change path that npm dependencies are in relation to phoenix app.
# E.g. assets for phoenix 1.3 support.
# assets_path=.

# It makes more sense to define assets_path rather than phoenix_relative_path
# above.
# TODO: Activate (uncomment) the line to include the assets for the project you
# are deploying.
# assets_path=apps/cbt/assets
assets_path=apps/cbt_admin/assets

# Ideally we would be able to pass a parameter to this or use an environment
# variable.
# Something like the following would be preferrable, but does not work as yet.
# Seems to resolve to '.' no matter what we do.
# assets_path=apps/$(NUNA_HEROKU_TARGET_APP)/assets
# assets_path=apps/$NUNA_HEROKU_TARGET_APP/assets
# assets_path=apps/${NUNA_HEROKU_TARGET_APP}/assets
# assets_path=apps/'$(NUNA_HEROKU_TARGET_APP)'/assets

# Do "mix phx" rather than "mix phoenix"
phoenix_ex=phx
